$color-scheme: var(--wisteria-color-scheme);

// M3 color stystem
$color-primary: var(--wisteria-color-primary);
$color-on-primary: var(--wisteria-color-on-primary);
$color-primary-container: var(--wisteria-color-primary-container);
$color-on-primary-container: var(--wisteria-color-on-primary-container);
$color-secondary: var(--wisteria-color-secondary);
$color-on-secondary: var(--wisteria-color-on-secondary);
$color-secondary-container: var(--wisteria-color-secondary-container);
$color-on-secondary-container: var(--wisteria-color-on-secondary-container);
$color-tertiary: var(--wisteria-color-tertiary);
$color-on-tertiary: var(--wisteria-color-on-tertiary);
$color-tertiary-container: var(--wisteria-color-tertiary-container);
$color-on-tertiary-container: var(--wisteria-color-on-tertiary-container);
$color-error: var(--wisteria-color-error);
$color-error-container: var(--wisteria-color-error-container);
$color-on-error: var(--wisteria-color-on-error);
$color-on-error-container: var(--wisteria-color-on-error-container);
$color-background: var(--wisteria-color-background);
$color-on-background: var(--wisteria-color-on-background);
$color-surface: var(--wisteria-color-surface);
$color-on-surface: var(--wisteria-color-on-surface);
$color-surface-variant: var(--wisteria-color-surface-variant);
$color-on-surface-variant: var(--wisteria-color-on-surface-variant);
$color-outline: var(--wisteria-color-outline);
$color-inverse-on-surface: var(--wisteria-color-inverse-on-surface);
$color-inverse-surface: var(--wisteria-color-inverse-surface);
$color-inverse-primary: var(--wisteria-color-inverse-primary);
$color-shadow: var(--wisteria-color-shadow);
$color-surface-tint: var(--wisteria-color-surface-tint);
$color-outline-variant: var(--wisteria-color-outline-variant);
$color-scrim: var(--wisteria-color-scrim);

// new
$color-surface-container-highest: var(
  --wisteria-color-surface-container-highest
);
