@import '../../styles/tokens/index';

.#{$prefix}-fade {
  transition: opacity var(--wisteria-fade-duration)
    $motion-easing-emphasized-accelerate;

  &-appear,
  &-enter {
    opacity: 0;
  }

  &-appear-active,
  &-appear-done,
  &-enter-active,
  &-enter-done {
    opacity: 1;
  }

  &-exit-active,
  &-exit-done {
    opacity: 0;
  }
}
