@import '../../styles/tokens/index';

.#{$prefix}-ripple {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  color: inherit;
  cursor: inherit;
  border-radius: inherit;
}

.#{$prefix}-ripple-effect {
  display: inline-block;
  pointer-events: none;
  opacity: 1;

  &-exit {
    opacity: 0;
    animation: ripple-exit 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-child {
    position: absolute;
    display: inline-block;
    pointer-events: none;
    background: currentcolor;
    border-radius: 50%;
    opacity: 0;

    &-enter {
      opacity: 0.3;
      transform: scale(1);
      animation: ripple-enter 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@keyframes ripple-enter {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple-exit {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}
