@import '../../styles/tokens/index';

.#{$prefix}-ripple {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  color: inherit;
  cursor: inherit;
  border-radius: inherit;
}

.#{$prefix}-ripple-effect {
  position: absolute;
  display: inline-block;
  background: currentcolor;
  border-radius: 50%;
  transition: all cubic-bezier(0.68, 0.01, 0.62, 0.6);

  &-appear {
    opacity: 0.1;
    transform: scale(0);
  }

  &-appear-active,
  &-appear-done {
    opacity: 0.3;
    transform: scale(1);
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active,
  &-exit-done {
    opacity: 0;
  }
}
