@import '../../styles/tokens/index';

.#{$prefix}-zoom {
  transition: transform var(--wisteria-zoom-duration) $motion-easing-emphasized;
  transform-origin: center;

  &-appear,
  &-enter,
  &-exit-active,
  &-exit-done {
    transform: scale(0);
  }

  &-appear-active,
  &-appear-done,
  &-enter-active,
  &-enter-done,
  &-exit {
    transform: scale(1);
  }
}
