:root.dark {
  --wisteria-color-primary: #cfbcff;
  --wisteria-color-on-primary: #381e72;
  --wisteria-color-primary-container: #4f378a;
  --wisteria-color-on-primary-container: #e9ddff;
  --wisteria-color-secondary: #cbc2db;
  --wisteria-color-on-secondary: #332d41;
  --wisteria-color-secondary-container: #4a4458;
  --wisteria-color-on-secondary-container: #e8def8;
  --wisteria-color-tertiary: #efb8c8;
  --wisteria-color-on-tertiary: #4a2532;
  --wisteria-color-tertiary-container: #633b48;
  --wisteria-color-on-tertiary-container: #ffd9e3;
  --wisteria-color-error: #ffb4ab;
  --wisteria-color-error-container: #93000a;
  --wisteria-color-on-error: #690005;
  --wisteria-color-on-error-container: #ffdad6;
  --wisteria-color-background: #1c1b1e;
  --wisteria-color-on-background: #e6e1e6;
  --wisteria-color-surface: #1c1b1e;
  --wisteria-color-on-surface: #e6e1e6;
  --wisteria-color-surface-variant: #49454e;
  --wisteria-color-on-surface-variant: #cac4cf;
  --wisteria-color-outline: #948f99;
  --wisteria-color-inverse-on-surface: #1c1b1e;
  --wisteria-color-inverse-surface: #e6e1e6;
  --wisteria-color-inverse-primary: #6750a4;
  --wisteria-color-shadow: #000;
  --wisteria-color-surface-tint: #cfbcff;
  --wisteria-color-outline-variant: #49454e;
  --wisteria-color-scrim: #000;
}
