:root {
  --wisteria-color-scheme: #fff;

  // M3 color stystem
  --wisteria-color-primary: #6750a4;
  --wisteria-color-on-primary: #fff;
  --wisteria-color-primary-container: #e9ddff;
  --wisteria-color-on-primary-container: #22005d;
  --wisteria-color-secondary: #625b71;
  --wisteria-color-on-secondary: #fff;
  --wisteria-color-secondary-container: #e8def8;
  --wisteria-color-on-secondary-container: #1e192b;
  --wisteria-color-tertiary: #7e5260;
  --wisteria-color-on-tertiary: #fff;
  --wisteria-color-tertiary-container: #ffd9e3;
  --wisteria-color-on-tertiary-container: #31101d;
  --wisteria-color-error: #ba1a1a;
  --wisteria-color-error-container: #ffdad6;
  --wisteria-color-on-error: #fff;
  --wisteria-color-on-error-container: #410002;
  --wisteria-color-background: #fffbff;
  --wisteria-color-on-background: #1c1b1e;
  --wisteria-color-surface: #fffbff;
  --wisteria-color-on-surface: #1c1b1f;
  --wisteria-color-surface-variant: #e7e0eb;
  --wisteria-color-on-surface-variant: #49454e;
  --wisteria-color-outline: #7a757f;
  --wisteria-color-inverse-on-surface: #f4eff4;
  --wisteria-color-inverse-surface: #313033;
  --wisteria-color-inverse-primary: #cfbcff;
  --wisteria-color-shadow: #000;
  --wisteria-color-surface-tint: #6750a4;
  --wisteria-color-outline-variant: #cac4cf;
  --wisteria-color-scrim: #000;

  // new colors
  --wisteria-color-surface-container-highest: #e6e0e9;
}
