$color-primary: var(--m3-color-primary);
$color-on-primary: var(--m3-color-on-primary);
$color-primary-container: var(--m3-color-primary-container);
$color-on-primary-container: var(--m3-color-on-primary-container);
$color-secondary: var(--m3-color-secondary);
$color-on-secondary: var(--m3-color-on-secondary);
$color-secondary-container: var(--m3-color-secondary-container);
$color-on-secondary-container: var(--m3-color-on-secondary-container);
$color-tertiary: var(--m3-color-tertiary);
$color-on-tertiary: var(--m3-color-on-tertiary);
$color-tertiary-container: var(--m3-color-tertiary-container);
$color-on-tertiary-container: var(--m3-color-on-tertiary-container);
$color-error: var(--m3-color-error);
$color-error-container: var(--m3-color-error-container);
$color-on-error: var(--m3-color-on-error);
$color-on-error-container: var(--m3-color-on-error-container);
$color-background: var(--m3-color-background);
$color-on-background: var(--m3-color-on-background);
$color-surface-dim: var(--m3-color-surface-dim);
$color-surface: var(--m3-color-surface);
$color-surface-bright: var(--m3-color-surface-bright);
$color-surface-container-lowest: var(--m3-color-surface-container-lowest);
$color-surface-container-low: var(--m3-color-surface-container-low);
$color-surface-container: var(--m3-color-surface-container);
$color-surface-container-high: var(--m3-color-surface-container-high);
$color-surface-container-highest: var(--m3-color-surface-container-highest);
$color-on-surface: var(--m3-color-on-surface);
$color-surface-variant: var(--m3-color-surface-variant);
$color-on-surface-variant: var(--m3-color-on-surface-variant);
$color-outline: var(--m3-color-outline);
$color-outline-variant: var(--m3-color-outline-variant);
$color-inverse-surface: var(--m3-color-inverse-surface);
$color-inverse-on-surface: var(--m3-color-inverse-on-surface);
$color-inverse-primary: var(--m3-color-inverse-primary);
$color-scrim: var(--m3-color-scrim);
$color-shadow: var(--m3-color-shadow);
$color-scheme: var(--m3-color-scheme);
$color-surface-tint: var(--m3-color-surface-tint);
