@use '../tokens/index.scss' as state;

@mixin element-state-layer($color, $color-alpha: 0) {
  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    content: '';
    background: $color;
    border-radius: inherit;
    opacity: $color-alpha;
    transition: inherit;
  }

  &:hover::after {
    opacity: if(
      $color-alpha > calc(3 * state.$alpha-container-hovered),
      calc($color-alpha - state.$alpha-container-hovered),
      calc(state.$alpha-container-hovered + $color-alpha)
    );
  }

  &:active::after {
    opacity: if(
      $color-alpha > calc(3 * state.$alpha-container-pressed),
      calc($color-alpha - state.$alpha-container-pressed),
      calc(state.$alpha-container-pressed + $color-alpha)
    );
  }
}
