:root.dark {
  --m3-color-primary: #cfbcff;
  --m3-color-on-primary: #381e72;
  --m3-color-primary-container: #4f378a;
  --m3-color-on-primary-container: #e9ddff;
  --m3-color-secondary: #cbc2db;
  --m3-color-on-secondary: #332d41;
  --m3-color-secondary-container: #4a4458;
  --m3-color-on-secondary-container: #e8def8;
  --m3-color-tertiary: #efb8c8;
  --m3-color-on-tertiary: #4a2532;
  --m3-color-tertiary-container: #633b48;
  --m3-color-on-tertiary-container: #ffd9e3;
  --m3-color-error: #ffb4ab;
  --m3-color-error-container: #93000a;
  --m3-color-on-error: #690005;
  --m3-color-on-error-container: #ffdad6;
  --m3-color-background: #1c1b1e;
  --m3-color-on-background: #e6e1e6;
  --m3-color-surface-dim: #141218;
  --m3-color-surface: #141218;
  --m3-color-surface-bright: #3b383e;
  --m3-color-surface-container-lowest: #0f0d13;
  --m3-color-surface-container-low: #1d1b20;
  --m3-color-surface-container: #211f26;
  --m3-color-surface-container-high: #2b2930;
  --m3-color-surface-container-highest: #36343b;
  --m3-color-on-surface: #e6e0e9;
  --m3-color-surface-variant: #cac4d0;
  --m3-color-on-surface-variant: #cac4d0;
  --m3-color-outline: #938f99;
  --m3-color-outline-variant: #49454f;
  --m3-color-inverse-surface: #e6e0e9;
  --m3-color-inverse-on-surface: #322f35;
  --m3-color-inverse-primary: #6750a4;
  --m3-color-scrim: #000;
  --m3-color-shadow: #000;
  --m3-color-scheme: #000;
  --m3-color-surface-tint: #cfbcff;
}
