@import '../../styles/tokens/index';
@import '../../styles/mixins/index';

$slider-track-size: 4px;

.#{$prefix}-slider-track {
  @include elevation-level-0;

  display: inline-block;
  width: 100%;
  height: $slider-track-size;
  margin: 8px 0;
  background-color: $color-surface-container-highest;
  border-radius: $shape-corner-full;
}
