@import '../../styles/tokens/index';

$divider-inset-size: var(--divider-inset-size, 16px);
$divider-between-gap: 8px;

.#{$prefix}-divider {
  box-sizing: border-box;
  white-space: nowrap;
  border-color: $color-outline-variant;
  border-style: solid;

  &-horizontal {
    border-block-start-width: thin;

    &[data-variant='inset'] {
      margin-inline-start: $divider-inset-size;
    }

    &[data-variant='middle'] {
      margin-inline: $divider-inset-size;
    }
  }

  &-vertical {
    border-inline-start-width: thin;

    &[data-variant='inset'] {
      margin-block-start: $divider-inset-size;
    }

    &[data-variant='middle'] {
      margin-block: $divider-inset-size;
    }
  }
}

.#{$prefix}-divider-with-children {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 0;

  &::before,
  &::after {
    content: '';
    border-color: inherit;
    border-style: inherit;
  }

  &.#{$prefix}-divider-horizontal {
    &::before,
    &::after {
      border-block-start-width: thin;
    }

    &::before {
      margin-inline-end: $divider-between-gap;
    }

    &::after {
      margin-inline-start: $divider-between-gap;
    }

    &.#{$prefix}-divider-text-left {
      &::before {
        width: 10%;
      }

      &::after {
        width: 90%;
      }
    }
    &.#{$prefix}-divider-text-center {
      &::before,
      &::after {
        width: 100%;
      }
    }
    &.#{$prefix}-divider-text-right {
      &::before {
        width: 90%;
      }

      &::after {
        width: 10%;
      }
    }
  }
  &.#{$prefix}-divider-vertical {
    flex-direction: column;

    &::before,
    &::after {
      border-inline-start-width: thin;
    }

    &::before {
      margin-block-end: $divider-between-gap;
    }

    &::after {
      margin-block-start: $divider-between-gap;
    }
    &.#{$prefix}-divider-text-left {
      &::before {
        height: 10%;
      }

      &::after {
        height: 90%;
      }
    }
    &.#{$prefix}-divider-text-center {
      &::before,
      &::after {
        height: 100%;
      }
    }
    &.#{$prefix}-divider-text-right {
      &::before {
        height: 90%;
      }

      &::after {
        height: 10%;
      }
    }
  }
}

.#{$prefix}-divider-text {
  font-size: $typography-label-large-size;
  font-weight: $typography-label-weight;
  line-height: $typography-label-large-line-height;
  color: $color-on-surface;
  letter-spacing: $typography-label-large-letter-spacing;
}
