@import '../../../styles/tokens/index';

$transition-duration: var(--wisteria-collapse-duration);

.#{$prefix}-collapse {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: height $transition-duration $motion-easing-emphasized;
}
