@import '@wisteria-ui/theme';

.#{$prefix}-ripple {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  color: inherit;
  cursor: inherit;
  border-radius: inherit;
}

.#{$prefix}-ripple-effect {
  position: absolute;
  pointer-events: none;
  background: currentcolor;
  border-radius: 50%;
  opacity: 0;

  &-appear {
    opacity: 0.3;
    transform: scale(1);
    animation: ripple-enter 300ms ease-in-out;
  }

  // &-appear-done {
  //   opacity: 0.3;
  //   transform: scale(1);
  // }

  &-exit-active {
    animation: ripple-exit 500ms ease-in-out;
  }

  &-exit-active,
  &-exit-done {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes ripple-enter {
  to {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes ripple-exit {
  100% {
    opacity: 0;
  }
}
