@import '@wisteria-ui/theme';

$zoom-duration: var(--zoom-duration);

.#{$prefix}-zoom {
  transition: transform $zoom-duration $motion-easing-emphasized;
  transform: scale(1);
  transform-origin: center;

  &-entering,
  &-entered {
    transform: scale(1);
  }

  &-exiting,
  &-exited {
    transform: scale(0);
  }
}
