@import '../../../styles/tokens/index';
@import '../../../styles/mixins/index';

.#{$prefix}-radio-mark {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  color: $color-on-surface-variant;
  cursor: inherit;
  border-radius: $shape-corner-full;

  @include element-state-layer(currentColor);

  &[aria-checked='true'] {
    color: var(--wisteria-radio-color, $color-primary);
  }

  &[aria-disabled='true'] {
    opacity: $state-layer-disabled-alpha;

    &::after {
      display: none;
    }
  }
}

.#{$prefix}-radio-input {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: inherit;
  opacity: 0;
}

.#{$prefix}-radio-icon {
  position: relative;

  &-mark {
    position: absolute;
    inset: 0;
  }
}
