@import '@wisteria-ui/theme';

$badge-dot-size: 8px;

.#{$prefix}-badge {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}

.#{$prefix}-badge-position {
  position: absolute;
  top: var(--wisteria-badge-offset-y, 0);
  right: var(--wisteria-badge-offset-x, 0);
  display: inline-flex;
  transform: translate(50%, -50%);
}

%badge-mark-base {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--wisteria-badge-color, $color-error);
  border-radius: $shape-corner-full;
}

.#{$prefix}-badge-dot {
  @extend %badge-mark-base;

  width: $badge-dot-size;
  height: $badge-dot-size;
}

.#{$prefix}-badge-standard {
  @extend %badge-mark-base;

  padding: 2px 6px;
  font-size: $typography-label-medium-size;
  font-weight: $typography-label-weight;
  line-height: $typography-label-medium-line-height;
  color: $color-on-error;
  letter-spacing: $typography-label-medium-letter-spacing;
}
