/* @deprecated */
$shape-corner-none: 0;
$shape-corner-extra-small: 4px;
$shape-corner-extra-small-top: 4px 4px 0 0;
$shape-corner-small: 8px;
$shape-corner-medium: 12px;
$shape-corner-large: 16px;
$shape-corner-large-end: 0 16px 16px 0;
$shape-corner-extra-large: 24px;
$shape-corner-extra-large-top: 24px 24px 0 0;
$shape-corner-full: 999px;

/* Corner */
$corner-none: 0;
$corner-extra-small: 4px;
$corner-extra-small-top: 4px 4px 0 0;
$corner-small: 8px;
$corner-medium: 12px;
$corner-large: 16px;
$corner-large-end: 0 16px 16px 0;
$corner-extra-large: 24px;
$corner-extra-large-top: 24px 24px 0 0;
$corner-full: 999px;
