$typography-body-small-size: 12px;
$typography-body-small-line-height: 16px;
$typography-body-small-letter-spacing: 0.4px;
$typography-body-medium-size: 14px;
$typography-body-medium-line-height: 20px;
$typography-body-medium-letter-spacing: 0.25px;
$typography-body-large-size: 16px;
$typography-body-large-line-height: 24px;
$typography-body-large-letter-spacing: 0.5px;
$typography-body-weight: 400;
$typography-label-medium-size: 12px;
$typography-label-medium-line-height: 16px;
$typography-label-medium-letter-spacing: 0.5px;
$typography-label-large-size: 14px;
$typography-label-large-line-height: 20px;
$typography-label-large-letter-spacing: 0.1px;
$typography-label-weight: 500;
$typography-title-small-size: 14px;
$typography-title-small-line-height: 20px;
$typography-title-small-letter-spacing: 0.1px;
$typography-title-medium-size: 16px;
$typography-title-medium-line-height: 24px;
$typography-title-medium-letter-spacing: 0.15px;
$typography-title-large-size: 22px;
$typography-title-large-line-height: 28px;
$typography-title-large-letter-spacing: 0;
$typography-title-weight: bold;
$typography-headline-small-size: 24px;
$typography-headline-small-line-height: 32px;
$typography-headline-small-letter-spacing: 0;
$typography-headline-medium-size: 28px;
$typography-headline-medium-line-height: 36px;
$typography-headline-medium-letter-spacing: 0;
$typography-headline-large-size: 32px;
$typography-headline-large-line-height: 40px;
$typography-headline-large-letter-spacing: 0;
$typography-headline-weight: bold;
